<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <title>Delete Resep</title>
    </head>
    <body>
        <h2>Penghapusan Resep</h2>
        <h3>Update tidak dapat dilakukan</h3>
        <h3>Resep dengan nomor <span th:text="${noResep}"></span> tidak dapat ditemukan</h3>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <form method="get" action="/resep/viewall">
            <button type="submit">View All</button>
        </form>
    </body>
</html>