<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Delete Obat</title>
</head>
<body>
    <h2>Penghapusan Obat</h2>
    <h3 th:text="'Nomor Resep: ' + ${obat.getResepModel().getNoResep()}"></h3>
    <h3 th:text="'Id Obat: ' + ${id}"></h3>
    <h3>Selamat, data Obat anda berhasil dihapus</h3>
    <td>
        <td><a th:href="@{/resep/view?noResep=} + ${obat.getResepModel().getNoResep()}">Kembali</a></td>
        <br><br>
        <form method="get" action="/">
            <button type="submit">Home</button>
        </form>
        <br>
        <form method="get" action="/resep/viewall">
            <button type="submit">View All</button>
        </form>
    </td>
        
</body>
</html>