<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Delete Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(page = 'Delete Obat')"></nav>
    <div class="container-fluid">
        <h3 th:text="${obatCount} + ' Obat telah berhasil dihapus'"></h3>
        <a th:href="@{/}">Kembali ke Home</a>
    </div>        
</body>
</html>