<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Obat</title>
</head>
<body>
    <h3>Change Data Obat</h3>
    <form th:action="@{/obat/change}" th:object="${obat}" method="POST">
        <input type="hidden" name="id" th:value="*{id}">
        Nomor Resep:<br>
        <input type="text" name="resepModel" th:value="${obat.getResepModel().getNoResep()}" required>
        <br>
        Nama:<br>
        <input type="text" name="nama" th:value="*{nama}"/>
        <br>
        Bentuk:<br>
        <select name="bentuk" th:value="*{bentuk}">
            <option value="0" th:selected="${obat.getBentuk() == 0}">Kapsul</option>
            <option value="1" th:selected="${obat.getBentuk() == 1}">Tablet</option>
            <option value="2" th:selected="${obat.getBentuk() == 2}">Sirup</option>
        </select>
        <br>
        Kuantitas:<br>
        <input type="number" name="kuantitas" th:value="*{kuantitas}"/>
        <br><br>
        <button type="submit" value="Submit">Submit</button>
        <td><a th:href="@{/resep/view?noResep=} + ${obat.getResepModel().getNoResep()}">Kembali</a></td>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
    <form method="get" action="/resep/viewall">
        <button type="submit">View All</button>
    </form>
</body>
</html>