<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(page = 'Form Add Obat')"></nav>
    <div class="container-fluid">
        <h3>Tambah Data Obat</h3>
        <hr />
        <div class="row">
            <div class="col">
                <form th:action="@{/obat/add}" th:object="${obat}" method="POST">
                    <input type="hidden" th:field="*{resepModel}"/>
                    <div class="form-group">
                        <label for="nama_obat">Nama Obat:</label>
                        <input name="nama" type="text" class="form-control" placeholder="Masukan nama obat" id="nama_obat" required>
                    </div>
                    <div class="form-group">
                        <label for="bentuk_obat">Bentuk Obat:</label>
                        <select name="bentuk" class="form-control" id="bentuk_obat" required>
                            <option value="0">Kapsul</option>
                            <option value="1">Tablet</option>
                            <option value="2">Sirup</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="kuantitas">Jumlah Obat:</label>
                        <input name="kuantitas" type="number" class="form-control" placeholder="Masukan jumlah obat" id="kuantitas" required>
                    </div>
                    <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                    <a th:href="@{/resep/view?noResep=} + ${noResep}">Kembali</a>
                </form>
            </div>
        </div>
    </div>   
    
</body>
</html>