<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Pass</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                        <div th:if="${msg} != null">
                            <span th:text="${msg}" style="color: red"></span>
                            <br>
                        </div>
                        <form th:action="@{/user/updatePassword}" method="POST">
                            <div class="row form-group">
                                <label class="col-sm-4">Password Lama:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="oldPassword" required>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password Baru:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="newPassword" 
                                    pattern="(?=.*[A-Za-z]).{8,}" required>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Konfirmasi Password:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="confirmPassword" 
                                    pattern="(?=.*[A-Za-z]).{8,}" required>
                            </div>
                            <div class="row form-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                        <br>
                        <a th:href="@{/}">Kembali ke home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
    
