<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(page = 'Update Data Resep')"></nav>
    <div class="container-fluid">
        <h3>Change Data Resep</h3>
        <div class="row">
            <div class="col">
                <form th:action="@{/resep/change}" th:object="${resep}" method="POST">
                    <input type="hidden" th:field="*{noResep}"/>
                    <div class="form-group">
                        <label for="nama_dokter">Nama Dokter:</label>
                        <input name="namaDokter" type="text" class="form-control" 
                            th:value="*{namaDokter}" placeholder="Masukan nama dokter" 
                            id="nama_dokter" required>
                    </div>
                    <div class="form-group">
                        <label for="nama_pasien">Nama Dokter:</label>
                        <input name="namaPasien" type="text" class="form-control" 
                            th:value="*{namaPasien}" placeholder="Masukan nama pasien" 
                            id="nama_pasien" required>
                    </div>
                    <div class="form-group">
                        <label for="ctt">Catatan:</label>
                        <input name="catatan" type="text" class="form-control" 
                        th:value="*{catatan}" placeholder="Masukan catatan" 
                        id="ctt" required>
                    </div>
                    <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                    <a th:href="@{/resep/view?noResep=} + ${resep.noResep}">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>