<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <h2>Selamat datang di HaiDokter!</h2>
        <a th:href="@{/resep/viewall}" class="btn btn-success">
            Lihat Semua Resep
        </a>
        <a th:href="@{/resep/add}" class="btn btn-outline-success">
            Tambah Resep
        </a>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Cari Resep Berdasarkan Nomor Resep
                    </div>
                    <div class="card-body">
                        <form th:action="@{/resep/view}" method="GET">
                            <div class="form-row">
                                <div class="col-10">                                
                                    <input 
                                        type="text" 
                                        class="form-control"
                                        placeholder="Nomor Resep"
                                        name="noResep"
                                        required
                                    />
                                </div>
                                <div class="col">
                                    <button class="btn btn-success btn-block" type="submit">
                                        Cari 
                                    </button> 
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>