<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(page = 'Update Obat')"></nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Success
            </div>
            <div class="card-body">                
                <div class="form-row">
                    <div class="col">
                        <div th:text="'Nomor Resep: ' + ${obat.getResepModel().getNoResep()}"></div>
                        <div th:text="'Nama: ' + ${obat.getNama()}">></div>
                        <div th:text="'Bentuk: ' + ${obat.getBentuk()}"></div>
                        <div th:text="'Jumlah: ' + ${obat.getKuantitas()}"></div>
                        <br>
                        <h5>Selamat, data obat anda berhasil diganti</h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a th:href="@{/resep/view?noResep=} + ${obat.getResepModel().getNoResep()}">Kembali</a>
    </div>
</html>