<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <h2> Password berhasil diperbaharui</h2>
        <!-- <h2 th:text="'Username: ' + ${username}"></h2>
        <h2 th:text="'New Password: ' + ${newPassword}"></h2>
        <br>
        <h2 th:text="'Old Password: ' + ${oldPassword}"></h2>
        <h2 th:text="'Valid? ' + ${validate}"></h2>
        <h2 th:text="'Matches? ' + ${check}"></h2> -->
        <a th:href="@{/}">Kembali ke home</a>
    </div>
</body>
</html>