<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(page = 'Update Resep')"></nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Success
            </div>
            <div class="card-body">                
                <div class="form-row">
                    <div class="col">
                        <div th:text="'Nomor Resep: ' + ${resep.getNoResep()}"></div>
                        <div th:text="'Nama Dokter: ' + ${resep.getNamaDokter()}"></div>
                        <div th:text="'Nama Pasien: ' + ${resep.getNamaPasien()}"></div>
                        <div th:text="'Catatan Baru: ' + ${resep.getCatatan()}"></div>
                        <br>
                        <h5>Selamat, data resep anda berhasil diganti</h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a th:href="@{/resep/view?noResep=} + ${resep.noResep}">Kembali</a>
    </div>
</body>
</html>