<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Error
            </div>
            <div class="card-body">                
                <div class="form-row">
                    <div class="col-11">
                        <div th:text="'Update tidak dapat dilakukan'"></div>
                        <div th:text="'Resep dengan nomor ' + ${noResep} + ' tidak dapat ditemukan'"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a th:href="@{/}">Kembali</a>
    </div>
</html>