<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div th:if="${message} != null">           
            <div class="card">
                <div class="card-header">
                    Error
                </div>
                <div class="card-body">                
                    <div class="form-row">
                        <div class="col-11">
                            <div th:text="${message}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a th:href="@{/}" class="btn btn-success">
                Kembali
            </a>
        </div>
        <div th:unless="${message} != null">
            <section>
                <div class="card">
                    <div class="card-header">
                        <h6>Data Resep</h6>
                    </div>
                    <div class="card-body">                
                        <div class="form-row">
                            <div class="col-3">
                                <div th:text="'Nomor Resep : ' + ${resep.getNoResep()}"></div>
                                <br>
                                <div th:text="'Nama Dokter : ' + ${resep.getNamaDokter()}"></div>
                                <br>
                                <div th:text="'Nama Pasien : ' + ${resep.getNamaPasien()}"></div>
                                <br>
                                <div th:text="'Catatan : ' + ${resep.getCatatan()}"></div>
                            </div>
                        </div>
                        <a th:href="@{/resep/change/} + ${resep.noResep}" class="btn btn-success">Change Resep</a>
                        <a th:href="@{/resep/delete/no-resep/} + ${resep.noResep}" class="btn btn-danger">Delete Resep</a>
                    </div>
                </div>
                <hr class="resep-border">
            </section>
            <section>        
                <h2 th:text="${title}"></h2>  
                <form th:action="@{/obat/delete/no-resep/}" th:object="${resep}" method="POST">
                    <div class="mb-3">
                        <a 
                            th:href="@{/obat/add/} + ${resep.noResep}"
                            class="btn btn-success"
                            >Add Obat</a
                        >
                        <a 
                            th:href="@{/obat/add/add-multiple} + ${resep.noResep}"
                            class="btn btn-outline-success"
                            >Add Multiple Obat</a
                        >

                        <input 
                            type="submit" 
                            value="Delete yang dipilih"
                            class="btn btn-danger"
                        />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>ID Obat</th>
                                <th>Nama</th>
                                <th>Bentuk</th>
                                <th>Kuantitas</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="obat, iterationStatus : ${resep.getListObat()}"
                                th:style="${iterationStatus.even} ? 'font-weight: bold;'">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${obat.id}"></td>
                                <td th:text="${obat.nama}"></td>
                                <td th:if="${obat.bentuk == 0}">Tablet</td>
                                <td th:if="${obat.bentuk == 1}">Kapsul</td>
                                <td th:if="${obat.bentuk == 2}">Sirup</td>
                                <td th:text="${obat.kuantitas} < 5 ? 'Stok hampir habis' : 'Stok masih banyak'"></td>
                                <td>
                                    <a th:href="@{/obat/change/} + ${obat.id}">Change Obat</a>
                                </td>
                                <td>
                                    <input type="checkbox" th:field="*{listObat}" th:value="${obat.id}">
                                    <label th:for="${#ids.prev('listObat')}">Hapus</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </section>
        </div>
        
    </div>
</body>
</html>