<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h3>Daftar Seluruh Resep</h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>No. Resep</th>
                <th>Nama Dokter</th>
                <th>Nama Pasien</th>
                <th>Catatan</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="resep, iterationStatus : ${listResep}"
                th:style="${iterationStatus.even} ? 'font-weight: bold;'">
                <td th:text="'Nomor Resep: ' + ${resep.getNoResep()}"></td>
                <td th:text="'Nama Dokter: ' + ${resep.getNamaDokter()}"></td>
                <td th:text="'Nama Pasien: ' + ${resep.getNamaPasien()}"></td>
                <td th:text="'Catatan: ' + ${resep.getCatatan()}"></td><td>
                    <a th:href="@{/resep/view?noResep=} + ${resep.noResep}" class="btn btn-success" >Lihat</a>
                    <a th:href="@{/resep/change/} + ${resep.noResep}" class="btn btn-outline-success">Ubah</a>
                    <a th:href="@{/resep/delete/no-resep/} + ${resep.noResep}" class="btn btn-danger">Hapus</a>
            </tr>
        </tbody>
    </table>
</body>
</html>